
<div class="container">

  <div class="row" style="padding-right: 15px">
    <%= link_to("发布新的产品", new_admin_product_path, class:"btn btn-success pull-right btn-lg") %>
  </div>

  <br>

  <<%= render "common/no_result" %>
  
</div>


