// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: //sass-lang.com/




#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.container-fluid {
  
}


.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }





.section {
  margin-bottom: 40px;
}

.section__title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
}

.section__content {
  padding-left: 0;
}

/**
 * The cards
 *
 * Each card plays home to a front and back. I've set them up as squares here
 * by using the padding technique, but you may set them up in any dimensions
 * you like based on your site design.
 */
 .card {
    position: relative;
    float: left;
    padding-bottom: 25%;
    width: 25%;
    text-align: center;
    margin-bottom: 2px;
  }

  .card:nth-child(4n+1) {
    margin-left: -3px;
    margin-right: 2px;
  }

  .card:nth-child(4n+2),{
    margin-right: 1px;
  }
  .card:nth-child(4n+3) {
    margin-left: 1px;
  }

  .card:nth-child(4n+4) {
    margin-left: 2px;
    margin-right: -3px;
  }
/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
  background-color: #09D1BC;
}

.card__back {
  background-color: #00000;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

/* card text */


.card_title {
  display: text-center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 10px;
  left: 0;
  margin: auto;
  height: 80px;
  color: black;
  font-family: 'Avenir Next',Avenir,'Helvetica Neue',Helvetica,'Lantinghei SC','Hiragino Sans GB',sans-serif;
  line-height: 20px;
}


.card__text {
  ddisplay:inline-block;
  vertical-align:text-bottom;
  //top: 60px;
  right: 3px;
  bottom: 0;
  left: 3px;
  color: #FFFFF2;
  font-family: "Roboto Slab", serif;
  position: absolute;
}

/* hover effect */
.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* click effect */
.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* random effect */
.card.effect__random.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__random.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}







/* promo */


.promo{
  background-size: cover;
}
.promo_image{
  width: 100%;
  display: block;


}


#outer {
  overflow: hidden;
}









html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =============================================================================
  BOX SIZING & CLEARFIX
============================================================================= */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* =============================================================================
  BASE
============================================================================= */
/* body */
body {
  background-color: #fff;
  color: #787878;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

/* text level semantics */
a {
  text-decoration: none;
  color: #28aadc;
}

a:hover {
  color: #166888;
}

/* =============================================================================
  LAYOUT
============================================================================= */
/* main layout */
.wrapper {
  width: 100%;
  margin: 0 auto;
}

main {
  display: block;
  background-color: #fff;
  padding: 20px 0;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* primary header */
.header__primary {
  padding: 10px 10px 10px 30px;
}

.header__primary--logo {
  float: left;
  margin-left: -20px;
  width: 20px;
  height: 20px;
}
.header__primary--logo img {
  display: block;
  margin: 0;
}

/* primary nav */
.nav__primary {
  float: right;
  width: 100%;
  text-align: right;
}

.nav__primary--link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url("../img/common/icons-nav.png");
  background-image: url("../img/common/icons-nav.svg"), none;
}

.nav__primary--link.tut {
  background-position: 0 0;
}
.nav__primary--link.prev {
  background-position: -20px 0;
}
.nav__primary--link.next {
  background-position: -40px 0;
}
.nav__primary--link.download {
  background-position: -60px 0;
}
.nav__primary--link.archive {
  background-position: -80px 0;
}

.nav__primary--link:hover:after {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 20px;
  content: attr(data-title);
  padding: 2px 5px;
  background-color: #28aadc;
  color: #fff;
  font-size: 10px;
  white-space: nowrap;
  border-radius: 3px;
}

/* =============================================================================
  FUSION ADS
============================================================================= */
#fusionads {
  position: fixed;
  top: 80px;
  right: 10px;
  z-index: 20;
  padding: 10px;
  background: rgba(255, 255, 255, 0.95);
  font-size: 12px;
  line-height: 1.2;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
}

#fusionads .fusion-wrap {
  display: block;
  margin: 0 auto 10px auto;
  width: 130px;
}

#fusionads a.fusion-text {
  display: block;
  color: #787878;
}

#fusionads a.fusion-img {
  display: block;
  margin-bottom: 10px;
  width: 130px;
  height: 100px;
  background-color: #fff;
}

#fusionads a.fusion-img img {
  display: block;
  margin: 0 0 10px 0;
}

#fusionads a.fusion-poweredby {
  color: #28aadc;
}
#fusionads a.fusion-poweredby:hover {
  color: #166888;
}
