<div class="container well" style="opacity:0.98;">

 <h3 class="text-center" style="color: orange;">停止项目救火队的生活</h3><br>

 <div class="row text-center">
	 <%= image_tag "http://www.growthschool.com/courses/pjmgn.jpeg", style: "width: 80%; border-radius: 25px;"  %>
	 <br><br>
 </div>

 <div class="row text-center">
	 <p style="font-size: 1.5em;">RD 停止抱怨，不再加班赶很瞎的功能，专桉准时上线完成 </p>
	 <p style="font-size: 1.5em;">敏捷专桉管理班 </p>
 </div>

 <!-- 描述行 -->
 <div class="row clearfix">
	 <!-- 第一栏 -->
	 <div class="col-md-4">
		 <h4 class="text-center" style="color: orange;">逃离超时、压死线的开发流程</h4>
		 <p style="margin-left: 15px;">解构专桉「操死」、「超时」的真正原因。目标为专桉怎麽执行的有效率，产品要怎样收敛出正确的决策方向。不再狂加班却只为了做「很瞎的假功能」，逃离 Burnout 的循环地狱。</p>
	 </div>
	 <!-- 第二栏 -->
	 <div class="col-md-4">
		 <h4 class="text-center" style="color: orange;">协同团队有效地完成目标</h4>
		 <p style="margin-left: 15px;">课程有大量的专桉桉例以及技巧示范。藉由课程的推展，让学员逐一学习到专桉管理的重要技巧与观念，以及如何灵活运用专桉管理工具，士气蓬勃的快速前进。产生开发正循环。</p>
	 </div>

	 <!-- 第三栏 -->
	 <div class="col-md-4">
		 <h4 class="text-center" style="color: orange;">专桉管理技巧的极速提升</h4>
			 <p style="margin-left: 15px;">传授技巧皆为业界 Best Practices。省去几年的瞎子摸象。不浪费时间在讲授生硬且五里雾的「敏捷」「理论」。专注传授敏捷心法与实务操作的灵活运用，及引领解答实战过程中遇到的各种疑难杂症。</p>
	 </div>
 </div>

 <hr>


 <h4 class="text-center" style="font-weight:bold;">适合参加的对象</h4>

 <blockquote style="border-left: 4px solid #c14545;display: block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 40px;-webkit-margin-end: 40px;">
	 <ul style="list-style-type: circle;margin-left: 20px;">
		 <li>
			 <p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
				 <span style="font-size: 15px; color: rgb(63, 65, 64);">想进阶成为资深工程师的开发者 </span>
			 </p>
		 </li>
	 </ul>
	 <ul style="list-style-type: circle; margin-left: 20px;">
		 <li>
			 <p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
				 <span style="font-size: 15px; color: rgb(63, 65, 64);">老是被凹加无意义班的开发者</span>
			 </p>
		 </li>
	 </ul>
	 <ul style="list-style-type: circle; margin-left: 20px;">
		 <li>
			 <p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
				 <span style="font-size: 15px; color: rgb(63, 65, 64);">对团队效率不彰力不从心的 Team Lead </span>
			 </p>
		 </li>
	 </ul>
	 <ul style="list-style-type: circle; margin-left: 20px;">
		 <li>
			 <p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
				 <span style="font-size: 15px; color: rgb(63, 65, 64);">常常两面不是人的专桉管理经理 </span>
			 </p>
		 </li>
	 </ul>
	 <ul style="list-style-type: circle; margin-left: 20px;">
		 <li>
			 <p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
				 <span style="font-size: 15px; color: rgb(63, 65, 64);">好还想更好的专桉管理狂热者  </span>
			 </p>
		 </li>
	 </ul>
	 <ul style="list-style-type: circle; margin-left: 20px;">
		 <li>
			 <p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
				 <span style="font-size: 15px; color: rgb(63, 65, 64);">( 本课程建议资讯产业从业背景报名 ）</span>
			 </p>
		 </li>
	 </ul>

 </blockquote>

 <hr>

 <h4 class="text-center" style="font-weight:bold;">课程目标</h4>

 <div class="row text-center">
	 <p style="font-size: 1.2em;">预期参加这次课程的学员，将可大幅提升专桉管理方面的视野以及实务操作技巧。</p>
 </div>

 <div class="row clearfix">
	 <!-- 第一栏 -->
	 <div class="col-md-6">
		 <h4 class="text-center" style="color: orange;">在完成本次课程后，学员将可学习到－</h4>
		 <ul class="col-md-offset-1">
			 <li>专桉规划技巧 ( User Story 与 Milestone )</li>
			 <li>敏捷管理心法</li>
			 <li>专桉管理工具导入 ( Redmine and Other Tools )</li>
			 <li>专桉管理工具结合 coding 流程的技巧</li>
			 <li>麦肯锡问题架构团队讨论技巧</li>
		 </ul>
	 </div>
	 <!-- 第二栏 -->
	 <div class="col-md-6">
		 <h4 class="text-center" style="color: orange;">在完成本次课程后，学员的团队将可收到－</h4>
		 <ul class="col-md-offset-1">
			 <li>立即可以上阵的协作管理方法</li>
			 <li>专桉开发效率大幅上升的效果</li>
			 <li>专桉时程大幅缩短的效果</li>
			 <li>团队成员士气上升</li>
		 </ul>
	 </div>
 </div>

 <h4 class="text-center" style="font-weight:bold;">学生如何评价</h4>

 <div id="owl-demo" class="owl-carousel owl-theme">
		 <div class="item text-center"><%= image_tag "https://ooo.0o0.ooo/2016/11/06/581f24b71af96.jpg" %></div>
		 <div class="item text-center"><%= image_tag "https://ooo.0o0.ooo/2016/11/06/581f24b73adf5.jpg" %></div>
		 <div class="item text-center"><%= image_tag "https://ooo.0o0.ooo/2016/11/06/581f24b80bd8d.jpg" %></div>
	 </div>











<br>
<br>
<br>
