<div class="container well" style="opacity:0.98;">

	<h3 class="text-center" style="color: #DF3800;">事业快速成长的入门秘笈</h3><br>

	<div class="row text-center">
		<%= image_tag "https://ooo.0o0.ooo/2016/11/06/581efb1883bea.jpeg", style: "width: 80%; border-radius: 25px;"  %>
		<br><br>
	</div>

	<!-- 描述行 -->
	<div class="row clearfix">
		<!-- 第一栏 -->
		<div class="col-md-4">
			<h4 class="text-center" style="color: #2E8377";>为什么要学这门课？</h4>
			<p style="margin-left: 15px;">你举办的活动时常招不满参加者吗？产品明明做了华丽的行销页，但转换率很低？请写手写的行销文章看起来很洗脑，广告也下得很勐（曝光率很高），但是销售成果还是很不好？</p>
			<p style="margin-left: 15px;">令人沮丧的是，我明明都照着网路上的行销招数，一步一步做了。为何一点效果都没有，到底真正问题出在哪裡？我又该怎样修正？</p>
			<p style="margin-left: 15px;">那你来对地方了！这门课就是为有这样困扰的人而生的。</p>
			<p style="margin-left: 15px;">这门课会在短短的两个小时，打通参加者的行销任督二脉。由浅至深的解构网路行销 Cycle。透过大量的桉例解构与行销拆解原理，让你知道你的网路生意出了什麽样的问题。</p>
			<p style="margin-left: 15px;">并且得到方法，知道如何用：「具体可执行的方法」和「科技手段」修正。大幅增加转换率。</p>

		</div>
		<!-- 第二栏 -->
		<div class="col-md-4">
			<h4 class="text-center" style="color: #2E8377";>什么是Growth Hack?</h4>
			<p style="margin-left: 15px;">Growth Hack 是一门在硅谷热门且新颖的行销技术。但这个名词对于台湾从事网路行销的人来说，是一门蒙着神秘面纱的高不可攀的行销与技术学。</p>
			<p style="margin-left: 15px;">传说产品使用了 Growth Hack 技巧调整体质后 ，产品就会勐爆性的成长。但令人挫折的是：上网爬资料，找到却是一望无际英文且庞杂的的凌乱艰涩资料。</p>
			<p style="margin-left: 15px;">Growth Hack 的本质是 行销 + 技术 + 心理学。也因为学门牵涉广泛，入门门槛并不低。所以国内很少人在讨论。</p>
			<p style="margin-left: 15px;">这门课的目的就是希望把这门非常棒的技术，引入台湾，并且大幅降低门槛。</p>
			<p style="margin-left: 15px;">这门课以传授心法为主，让过去没有行销背景或只具有粗浅行销背景的朋友，在上完课后都能对行销与 Growth Hack 快速上手。事业高速成长，数钞票数到翻过去。</p>
		</div>

		<!-- 第三栏 -->
		<div class="col-md-4">
			<h4 class="text-center" style="color: #2E8377";>你的导师</h4>
<!-- 			<p class="text-center"><%= image_tag "xdite icon.jpg", style: "border-radius: 100px;" %></p>
 -->			<p style="margin-left: 15px;">我是 xdite。背景是 Ruby on Rails 网站开发者（累计 9 年时间）。</p>
			<p style="margin-left: 15px;">因缘际会下，去年在硅谷服务时，接触到 GrowthHack 这门学问。GrowthHack 号称是硅谷的最新的行销学问，结合了科技工具与行销原理。导入后的产品，无不业绩勐爆性上升。</p>
			<p style="margin-left: 15px;">起初我只是半信半疑的学习。没想到的确有非常大的效果。</p>
			<p style="margin-left: 15px;">后来回台湾后，我想尝试把 GH 这门技术介绍给大家，同时本身也利用 GrowthHack 技巧应用在此门课的成长上。果然引爆出非常可怕的销售成绩。</p>
			<p style="margin-left: 15px;">Intro to GrowthHack （实体班）已经超过千人次上课。学员评价皆为「极度推荐」。</p>

		</div>
	</div>

	<hr>

	<!-- 图片行 -->
	<div class="row text-center">
		<%= image_tag "https://ooo.0o0.ooo/2016/11/06/581efb161a0d5.jpeg", style: "width: 80%; border-radius: 25px;" %>
	</div>

	<hr><br>

	<h3 class="text-center" style="color: #DF3800;">Frequently Asked Questions</h3><br>

	<!-- 评论行 -->
	<h3 style="margin-left: 15px;">这堂「线上」课与过去「实体」课的内容有什麽差别？</h3>
	<p style="margin-left: 15px;">我们 2016/03 起不再开设 Intro to GH 实体课。线上课为实体课骨干，内容皆为重新录製，并有更清楚的解说以及电子讲义。 也提供线上交流社群。我们希望藉由这门课转换成线上学习，可以服务更广区域的朋友，大家都能上到这门课，而不用被时间与区域限制住。</p><br>

	<h3 style="margin-left: 15px;">上课的形式会是如何呢？</h3>
	<p style="margin-left: 15px;">我们会将课程分成数段（接近十段），每一小段有例子，以及解说录影。</p><br>

	<h3 style="margin-left: 15px;">请问课程可以重複听吗？</h3>
	<p style="margin-left: 15px;">可以。要重複听几遍都可以。</p><br>


	<h3 style="margin-left: 15px;">上完课后，若有衍生成长上的问题，还可以发问吗？</h3>
	<p style="margin-left: 15px;">可以。我们这个课程有一个 slack 的内部聊天频道。我们会在这个频道内部交流 Growth 资源以及解答问题。</p><br>

	<h3 style="margin-left: 15px;">如果上课之后，我不满意课程的内容呢？</h3>
	<p style="margin-left: 15px;">如果你不满意课程内容。30 天内我们 offer 无条件退款。 （预购也是上架后 30 天内可以退款）</p><br>



<br>
<br>
<br>
