<div class="container well" style="opacity:0.98;">

	<h3 class="text-center" style="color: #DF3800;">课堂如何运作</h3><br>


	<!-- 描述行 -->
	<div class="row clearfix">
		<!-- 第一栏 -->
		<div class="col-md-4">
			<h4 class="text-center" style="color: #2E8377";>1. 学徒式「软体」教学带练</h4>
			<p style="margin-left: 15px;">常听一些其他训练营培训失败来重上的学生抱怨：他们之所以练不起 Rails 开发。是因为老师花很多时间讲「完全听不懂的理论」。但实作时间只有一点点。</p>
			<p style="margin-left: 15px;">这样的教学法，让学生花了「几週」超长的时间上课，还是做不出能上战场的东西。</p>
			<p style="margin-left: 15px;">我们上课採取学徒式带练法。一开始就教「Software Design Thinking」，老师讲解架构，然后马上实作练习。</p>
			<p style="margin-left: 15px;">每堂下课都有带回家的实际成品，一步一步在四周内盖起一个网路商店，超有成就感。</p>
		</div>
		<!-- 第二栏 -->
		<div class="col-md-4">
			<h4 class="text-center" style="color: #2E8377";>2. 助教陪练，不再害羞装懂</h4>
			<p style="margin-left: 15px;">台湾学生上课有个难以启齿的困扰：上课听不懂，举手问，同学会不会不耐烦？老师会不会不耐烦？</p>
			<p style="margin-left: 15px;">害羞到最后，不懂的地方还是不懂。下课后，也不知道「谁有时间」让他们问「新手」问题。</p>
			<p style="margin-left: 15px;">这堂课不会有这个问题。</p>
			<p style="margin-left: 15px;">我们每堂配备至少 2 位业界助教。上课第一堂就鼓励大家上课尽量问，缴钱上课就是要问到懂为止。不懂马上举手问。</p>
			<p style="margin-left: 15px;">下课也有课程 Slack 频道以及 Rails Meetup Office Hour ，助教会在上面热情回答交流大家技术上的相关问题。</p>
		</div>

		<!-- 第三栏 -->
		<div class="col-md-4">
			<h4 class="text-center" style="color: #2E8377";>3. 共同加速学习</h4>
			<p style="margin-left: 15px;">上课作业除了「开发软体」之外。每堂我们也要求学生在 Quip 上「交共笔作业」。</p>
			<p style="margin-left: 15px;">目的是弄懂自己上课实作的成品裡面的底层知识。把搭建软体的「工艺记忆」安装在大脑裡。</p>
			<p style="margin-left: 15px;">不只积累自己的技术笔记，还可以收到其他数十位同学对相同技术主题的详尽研究。</p>
			<p style="margin-left: 15px;">每週密集的共同开发以及讨论，许多同学与助教下课成为了跨领域的好友。</p>
		</div>
	</div>

	<hr>

	<!-- 图片行 -->
	<div class="row text-center">
		<%= image_tag "https://ooo.0o0.ooo/2016/11/07/581fe2ab7d61c.jpeg", style: "width: 80%; border-radius: 25px;"%>
	</div>

	<hr><br>

	<h3 class="text-center" style="color: #DF3800;">学生如何评价</h3><br>

	<!-- 评论行 -->
	<div id="owl-demo" class="owl-carousel owl-theme">
    	<div class="item text-center"><%= image_tag "https://ooo.0o0.ooo/2016/11/07/581fe2ab5b727.jpg" %></div>
   		<div class="item text-center"><%= image_tag "https://ooo.0o0.ooo/2016/11/07/581fe2ab42af9.jpg" %></div>
    	<div class="item text-center"><%= image_tag "https://ooo.0o0.ooo/2016/11/07/581fe2ab41e81.jpg" %></div>
  	</div>
<br>
<br>
<br>
