<div class="container well" style="opacity:0.98;">

	<h3 class="text-center" style="color: #DF3800;">课堂如何运作</h3><br>


	<!-- 描述行 -->
	<div class="row clearfix">
		<!-- 第一栏 -->
		<div class="col-md-4">
			<h4 class="text-center" style="color: #2E8377";>1. 學徒式「軟體」教學帶練</h4>
			<p style="margin-left: 15px;">常聽一些其他訓練營培訓失敗來重上的學生抱怨：他們之所以練不起 Rails 開發。是因為老師花很多時間講「完全聽不懂的理論」。但實作時間只有一點點。</p>
			<p style="margin-left: 15px;">這樣的教學法，讓學生花了「幾週」超長的時間上課，還是做不出能上戰場的東西。</p>
			<p style="margin-left: 15px;">我們上課採取學徒式帶練法。一開始就教「Software Design Thinking」，老師講解架構，然後馬上實作練習。</p>
			<p style="margin-left: 15px;">每堂下課都有帶回家的實際成品，一步一步在四周內蓋起一個網路商店，超有成就感。</p>
		</div>
		<!-- 第二栏 -->
		<div class="col-md-4">
			<h4 class="text-center" style="color: #2E8377";>2. 助教陪練，不再害羞裝懂</h4>
			<p style="margin-left: 15px;">台灣學生上課有個難以啟齒的困擾：上課聽不懂，舉手問，同學會不會不耐煩？老師會不會不耐煩？</p>
			<p style="margin-left: 15px;">害羞到最後，不懂的地方還是不懂。下課後，也不知道「誰有時間」讓他們問「新手」問題。</p>
			<p style="margin-left: 15px;">這堂課不會有這個問題。</p>
			<p style="margin-left: 15px;">我們每堂配備至少 2 位業界助教。上課第一堂就鼓勵大家上課盡量問，繳錢上課就是要問到懂為止。不懂馬上舉手問。</p>
			<p style="margin-left: 15px;">下課也有課程 Slack 頻道以及 Rails Meetup Office Hour ，助教會在上面熱情回答交流大家技術上的相關問題。</p>			
		</div>

		<!-- 第三栏 -->
		<div class="col-md-4">
			<h4 class="text-center" style="color: #2E8377";>3. 共同加速學習</h4>
			<p style="margin-left: 15px;">上課作業除了「開發軟體」之外。每堂我們也要求學生在 Quip 上「交共筆作業」。</p>
			<p style="margin-left: 15px;">目的是弄懂自己上課實作的成品裡面的底層知識。把搭建軟體的「工藝記憶」安裝在大腦裡。</p>
			<p style="margin-left: 15px;">不只積累自己的技術筆記，還可以收到其他數十位同學對相同技術主題的詳盡研究。</p>
			<p style="margin-left: 15px;">每週密集的共同開發以及討論，許多同學與助教下課成為了跨領域的好友。</p>
		</div>	
	</div>

	<hr>

	<!-- 图片行 -->
	<div class="row text-center">
		<%= image_tag "005.jpg", style: "width: 80%; border-radius: 25px;"%>
	</div>

	<hr><br>

	<h3 class="text-center" style="color: #DF3800;">学生如何评价</h3><br>

	<!-- 评论行 -->
	<div id="owl-demo" class="owl-carousel owl-theme">
    	<div class="item text-center"><%= image_tag "review.001.jpg" %></div>
   		<div class="item text-center"><%= image_tag "review.002.jpg" %></div> 
    	<div class="item text-center"><%= image_tag "review.003.jpg" %></div>    
  	</div>
<br>
<br>
<br>




