<div class="container well" style="opacity:0.98;">

	<!-- 评论行 -->
	<div id="owl-demo" class="owl-carousel owl-theme">
    	<div class="item text-center"><%= image_tag "https://ooo.0o0.ooo/2016/11/06/581f2bc4c0f61.jpeg" %></div>
   		<div class="item text-center"><%= image_tag "https://ooo.0o0.ooo/2016/11/06/581f2bc9a175c.jpeg" %></div> 
    	<div class="item text-center"><%= image_tag "https://ooo.0o0.ooo/2016/11/06/581f2bcc56909.jpeg" %></div>    
    	<div class="item text-center"><%= image_tag "https://ooo.0o0.ooo/2016/11/06/581f2bc63138f.jpeg" %></div>    

  	</div>
<br>
<br>
<br>



