<div class="container well" style="opacity:0.98;">

	<h3 class="text-center" style="color: #DF3800;">事业快速成长的入门秘笈</h3><br>

	<div class="row text-center">
		<%= image_tag "growth hack.jpeg", style: "width: 80%; border-radius: 25px;"  %>
		<br><br>
	</div>

	<!-- 描述行 -->
	<div class="row clearfix">
		<!-- 第一栏 -->
		<div class="col-md-4">
			<h4 class="text-center" style="color: #2E8377";>为什么要学这门课？</h4>
			<p style="margin-left: 15px;">你舉辦的活動時常招不滿參加者嗎？產品明明做了華麗的行銷頁，但轉換率很低？請寫手寫的行銷文章看起來很洗腦，廣告也下得很猛（曝光率很高），但是銷售成果還是很不好？</p>
			<p style="margin-left: 15px;">令人沮喪的是，我明明都照著網路上的行銷招數，一步一步做了。為何一點效果都沒有，到底真正問題出在哪裡？我又該怎樣修正？</p>
			<p style="margin-left: 15px;">那你來對地方了！這門課就是為有這樣困擾的人而生的。</p>
			<p style="margin-left: 15px;">這門課會在短短的兩個小時，打通參加者的行銷任督二脈。由淺至深的解構網路行銷 Cycle。透過大量的案例解構與行銷拆解原理，讓你知道你的網路生意出了什麼樣的問題。</p>
			<p style="margin-left: 15px;">並且得到方法，知道如何用：「具體可執行的方法」和「科技手段」修正。大幅增加轉換率。</p>

		</div>
		<!-- 第二栏 -->
		<div class="col-md-4">
			<h4 class="text-center" style="color: #2E8377";>什么是Growth Hack?</h4>
			<p style="margin-left: 15px;">Growth Hack 是一門在矽谷熱門且新穎的行銷技術。但這個名詞對於台灣從事網路行銷的人來說，是一門蒙著神秘面紗的高不可攀的行銷與技術學。</p>
			<p style="margin-left: 15px;">傳說產品使用了 Growth Hack 技巧調整體質後 ，產品就會猛爆性的成長。但令人挫折的是：上網爬資料，找到卻是一望無際英文且龐雜的的凌亂艱澀資料。</p>
			<p style="margin-left: 15px;">Growth Hack 的本質是 行銷 + 技術 + 心理學。也因為學門牽涉廣泛，入門門檻並不低。所以國內很少人在討論。</p>
			<p style="margin-left: 15px;">這門課的目的就是希望把這門非常棒的技術，引入台灣，並且大幅降低門檻。</p>
			<p style="margin-left: 15px;">這門課以傳授心法為主，讓過去沒有行銷背景或只具有粗淺行銷背景的朋友，在上完課後都能對行銷與 Growth Hack 快速上手。事業高速成長，數鈔票數到翻過去。</p>			
		</div>

		<!-- 第三栏 -->
		<div class="col-md-4">
			<h4 class="text-center" style="color: #2E8377";>你的导师</h4>
<!-- 			<p class="text-center"><%= image_tag "xdite icon.jpg", style: "border-radius: 100px;" %></p>
 -->			<p style="margin-left: 15px;">我是 xdite。背景是 Ruby on Rails 網站開發者（累計 9 年時間）。</p>
			<p style="margin-left: 15px;">因緣際會下，去年在矽谷服務時，接觸到 GrowthHack 這門學問。GrowthHack 號稱是矽谷的最新的行銷學問，結合了科技工具與行銷原理。導入後的產品，無不業績猛爆性上升。</p>
			<p style="margin-left: 15px;">起初我只是半信半疑的學習。沒想到的確有非常大的效果。</p>
			<p style="margin-left: 15px;">後來回台灣後，我想嘗試把 GH 這門技術介紹給大家，同時本身也利用 GrowthHack 技巧應用在此門課的成長上。果然引爆出非常可怕的銷售成績。</p>
			<p style="margin-left: 15px;">Intro to GrowthHack （實體班）已經超過千人次上課。學員評價皆為「極度推薦」。</p>

		</div>	
	</div>

	<hr>

	<!-- 图片行 -->
	<div class="row text-center">
		<%= image_tag "growth hack xdite.jpeg", style: "width: 80%; border-radius: 25px;" %>
	</div>

	<hr><br>

	<h3 class="text-center" style="color: #DF3800;">Frequently Asked Questions</h3><br>

	<!-- 评论行 -->
	<h3 style="margin-left: 15px;">這堂「線上」課與過去「實體」課的內容有什麼差別？</h3>
	<p style="margin-left: 15px;">我們 2016/03 起不再開設 Intro to GH 實體課。線上課為實體課骨幹，內容皆為重新錄製，並有更清楚的解說以及電子講義。 也提供線上交流社群。我們希望藉由這門課轉換成線上學習，可以服務更廣區域的朋友，大家都能上到這門課，而不用被時間與區域限制住。</p><br>

	<h3 style="margin-left: 15px;">上課的形式會是如何呢？</h3>
	<p style="margin-left: 15px;">我們會將課程分成數段（接近十段），每一小段有例子，以及解說錄影。</p><br>

	<h3 style="margin-left: 15px;">請問課程可以重複聽嗎？</h3>
	<p style="margin-left: 15px;">可以。要重複聽幾遍都可以。</p><br>


	<h3 style="margin-left: 15px;">上完課後，若有衍生成長上的問題，還可以發問嗎？</h3>
	<p style="margin-left: 15px;">可以。我們這個課程有一個 slack 的內部聊天頻道。我們會在這個頻道內部交流 Growth 資源以及解答問題。</p><br>

	<h3 style="margin-left: 15px;">如果上課之後，我不滿意課程的內容呢？</h3>
	<p style="margin-left: 15px;">如果你不滿意課程內容。30 天內我們 offer 無條件退款。 （預購也是上架後 30 天內可以退款）</p><br>



<br>
<br>
<br>




