<div class="container well" style="opacity:0.98;">

	<h3 class="text-center" style="color: orange;">停止项目救火队的生活</h3><br>

	<div class="row text-center">
		<%= image_tag "http://www.growthschool.com/courses/pjmgn.jpeg", style: "width: 80%; border-radius: 25px;"  %>
		<br><br>
	</div>

	<div class="row text-center">
		<p style="font-size: 1.5em;">RD 停止抱怨，不再加班趕很瞎的功能，專案準時上線完成 </p>
		<p style="font-size: 1.5em;">敏捷專案管理班 </p>
	</div>

	<!-- 描述行 -->
	<div class="row clearfix">
		<!-- 第一栏 -->
		<div class="col-md-4">
			<h4 class="text-center" style="color: orange;">逃離超時、壓死線的開發流程</h4>
			<p style="margin-left: 15px;">解構專案「操死」、「超時」的真正原因。目標為專案怎麼執行的有效率，產品要怎樣收斂出正確的決策方向。不再狂加班卻只為了做「很瞎的假功能」，逃離 Burnout 的循環地獄。</p>
		</div>
		<!-- 第二栏 -->
		<div class="col-md-4">
			<h4 class="text-center" style="color: orange;">協同團隊有效地完成目標</h4>
			<p style="margin-left: 15px;">課程有大量的專案案例以及技巧示範。藉由課程的推展，讓學員逐一學習到專案管理的重要技巧與觀念，以及如何靈活運用專案管理工具，士氣蓬勃的快速前進。產生開發正循環。</p>	
		</div>

		<!-- 第三栏 -->
		<div class="col-md-4">
			<h4 class="text-center" style="color: orange;">專案管理技巧的極速提升</h4>
 				<p style="margin-left: 15px;">傳授技巧皆為業界 Best Practices。省去幾年的瞎子摸象。不浪費時間在講授生硬且五里霧的「敏捷」「理論」。專注傳授敏捷心法與實務操作的靈活運用，及引領解答實戰過程中遇到的各種疑難雜症。</p>
		</div>	
	</div>

	<hr>


	<h4 class="text-center" style="font-weight:bold;">適合參加的對象</h4>

	<blockquote style="border-left: 4px solid #c14545;display: block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 40px;-webkit-margin-end: 40px;">
		<ul style="list-style-type: circle;margin-left: 20px;">
			<li>
				<p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
					<span style="font-size: 15px; color: rgb(63, 65, 64);">想進階成為資深工程師的開發者 </span>
				</p>
			</li>
		</ul>
		<ul style="list-style-type: circle; margin-left: 20px;">
			<li>
				<p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
					<span style="font-size: 15px; color: rgb(63, 65, 64);">老是被凹加無意義班的開發者</span>
				</p>
			</li>
		</ul>
		<ul style="list-style-type: circle; margin-left: 20px;">
			<li>
				<p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
					<span style="font-size: 15px; color: rgb(63, 65, 64);">對團隊效率不彰力不從心的 Team Lead </span>
				</p>
			</li>
		</ul>
		<ul style="list-style-type: circle; margin-left: 20px;">
			<li>
				<p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
					<span style="font-size: 15px; color: rgb(63, 65, 64);">常常兩面不是人的專案管理經理 </span>
				</p>
			</li>
		</ul>
		<ul style="list-style-type: circle; margin-left: 20px;">
			<li>
				<p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
					<span style="font-size: 15px; color: rgb(63, 65, 64);">好還想更好的專案管理狂熱者  </span>
				</p>
			</li>
		</ul>
		<ul style="list-style-type: circle; margin-left: 20px;">
			<li>
				<p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
					<span style="font-size: 15px; color: rgb(63, 65, 64);">( 本課程建議資訊產業從業背景報名 ）</span>
				</p>
			</li>
		</ul>		

	</blockquote>	

	<hr>

	<h4 class="text-center" style="font-weight:bold;">課程目標</h4>

	<div class="row text-center">
		<p style="font-size: 1.2em;">預期參加這次課程的學員，將可大幅提升專案管理方面的視野以及實務操作技巧。</p>
	</div>

	<div class="row clearfix">
		<!-- 第一栏 -->
		<div class="col-md-6">
			<h4 class="text-center" style="color: orange;">在完成本次課程後，學員將可學習到－</h4>
			<ul class="col-md-offset-1">
				<li>專案規劃技巧 ( User Story 與 Milestone )</li>
				<li>敏捷管理心法</li>
				<li>專案管理工具導入 ( Redmine and Other Tools )</li>
				<li>專案管理工具結合 coding 流程的技巧</li>
				<li>麥肯錫問題架構團隊討論技巧</li>
			</ul>
		</div>
		<!-- 第二栏 -->
		<div class="col-md-6">
			<h4 class="text-center" style="color: orange;">在完成本次課程後，學員的團隊將可收到－</h4>
			<ul class="col-md-offset-1">
				<li>立即可以上陣的協作管理方法</li>
				<li>專案開發效率大幅上升的效果</li>
				<li>專案時程大幅縮短的效果</li>
				<li>團隊成員士氣上升</li>
			</ul>
		</div>
	</div>
	
	<h4 class="text-center" style="font-weight:bold;">学生如何评价</h4>

	<div id="owl-demo" class="owl-carousel owl-theme">
    	<div class="item text-center"><%= image_tag "https://ooo.0o0.ooo/2016/11/06/581f24b71af96.jpg" %></div>
   		<div class="item text-center"><%= image_tag "https://ooo.0o0.ooo/2016/11/06/581f24b73adf5.jpg" %></div> 
    	<div class="item text-center"><%= image_tag "https://ooo.0o0.ooo/2016/11/06/581f24b80bd8d.jpg" %></div>    
  	</div>











<br>
<br>
<br>




