<div class="container">

  <br>

  <div class="container">

      <div class="section">
        <h2 class="section__title">特色服务</h2>

        <div class="section__content clearfix">

        <% @products.each do |product|%>

          <div class="card effect__hover">
            
            <div class="card__front">
            	<%= render partial: "common/product_image", locals: {product: product, size: "thumb"} %>
            </div>

            <div class="card__back">
              <span class="card__text">
              	<%= link_to product.description, product_path(product) %>
              </span>
            </div>
          </div>

        <% end %>



        </div><!-- /card -->


      </div><!-- /section -->

      

      <div class="section">
        <h2 class="section__title">精彩推荐</h2>
        <div class="section__content clearfix">
          <div class="card effect__random" data-id="1">
            <div class="card__front">
              <span class="card__text">front</span>
            </div>
            <div class="card__back">
              <span class="card__text">back</span>
            </div>
          </div><!-- /card -->
          <div class="card effect__random" data-id="2">
            <div class="card__front">
              <span class="card__text">front</span>
            </div>
            <div class="card__back">
              <span class="card__text">back</span>
            </div>
          </div><!-- /card -->
          <div class="card effect__random" data-id="3">
            <div class="card__front">
              <span class="card__text">front</span>
            </div>
            <div class="card__back">
              <span class="card__text">back</span>
            </div>
          </div><!-- /card -->
          <div class="card effect__random" data-id="4">
            <div class="card__front">
              <span class="card__text">front</span>
            </div>
            <div class="card__back">
              <span class="card__text">back</span>
            </div>
          </div>
        </div><!-- /card -->
      </div><!-- /section -->

    </div>

</div>


